body{
    background: black;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.box{
    height: 250px;
    width: 180px;
    background-color: rgb(255, 255, 255);
    border-style:solid;
    border-color: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: transform linear 0.6s;
    cursor: grab;
    position: relative;  
    opacity: 0.7;
}
 
h1{
    position: absolute;
    left: 0;
    top: 0;
    margin: 5px;
}

h2{
    font-size: 32px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotateX(180deg);
    margin: 5px;
}

.topimg{
    height: 20px;
    position: absolute;
    left: 0;
    top: 40px;
    margin: 3px;
    margin-left: 7px;
}

.bottomimg{
    height: 20px;
    position: absolute;
    bottom: 40px;
    right: 0;
    margin: 3px;
    margin-right: 7px;
}

.middleimg{
    height: 100px;
}

.one{
    position: relative;
    left:100px;
    top: 200px;
    transform: rotate(-15deg);
}

.two {
    color: red;
    position: relative;
    left:-20px;
    top: 180px;
    transform: rotate(-10deg)
}

.three{
    position: relative;
    left:-160px;
    top: 190px;
    transform: rotate(10deg)
}

.four{
    color: red;
    position: relative;
    left:-300px;
    top: 200px;
    transform: rotate(20deg)
}

.five{
    position: relative;
    left: -440px;
    top: 220px;
    transform: rotate(30deg);
}

.box:hover{
    transform: translateY(-100px);
    opacity: 1;
}

.five:hover{
    transform: translate(40px, -10px);
    opacity: 1;
}